<meta charset="UTF8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
        <ul>
            <li v-for="(cor,i) in cores" :key="cor">{{ i + 1 }}- {{ cor }}</li>
            <button @click="cores.push('branca')">Adicionar </button>
        </ul>
        <hr>
        
        <div v-for="(cor, i) in cores">
            <h1> {{ i }}</h1>
            <p> {{ cor }}</p>
        </div>

        <template v-for="pessoa in pessoas">
            <ul>
                <li v-for="(valor, chave, index) in pessoa">
                    <p> {{ index }}</p>
                    <p> {{ chave }}</p>
                    <p> {{ valor }}</p>

                </li>
            </ul>

            <div v-for="n in 10"> {{ n }}</div>
        </template>
            
    </div>

<script>
    new Vue({
        el:"#app",
        data:{
           cores: ['vermelho','verde','amarelo','azul'],
           pessoas:[
            { nome:'Ana', idade: 26, peso: 59},
            { nome:'Guilherme', idade: 22, peso: 89},
           ]
        },
        computed:{
            titulo(){
                return this.logado ? "Sair" : "Entrar"
            }
        }
    })
</script>


<style>

    ul{
        /* list-style: none; */
    }

    h1, p{
        display: inline;
    }

</style>